################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ipch/HEXVIEWER-fa6b9d6c/HEXVIEWER-e80bc1a1.ipch
/ipch/HEXVIEWER-fa6b9d6c/HEXVIEWER-108de443.ipch
/HexViewer.VC.VC.opendb
/HexViewer.VC.db
/HexViewer/x64/Debug/HexViewer.log
/HexViewer/Debug/HexViewer.log
/HexViewer/Debug/HexViewer.Build.CppClean.log
/.vs/HexViewer/v14/.suo
