################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ipch/HEXVIEWER-fa6b9d6c/HEXVIEWER-e80bc1a1.ipch
