################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ipch/HEXVIEWER-fa6b9d6c/HEXVIEWER-e80bc1a1.ipch
/ipch/HEXVIEWER-fa6b9d6c/HEXVIEWER-108de443.ipch
/HexViewer.VC.VC.opendb
/HexViewer.VC.db
/HexViewer/x64/Debug/HexViewer.log
/HexViewer/Debug/HexViewer.log
/HexViewer/Debug/HexViewer.Build.CppClean.log
/.vs/HexViewer/v14/.suo
/x64/Debug/HexViewer.pdb
/x64/Debug/HexViewer.ilk
/x64/Debug/HexViewer.exe
/HexViewer/x64/Debug/vc140.pdb
/HexViewer/x64/Debug/vc140.idb
/HexViewer/x64/Debug/stdafx.obj
/HexViewer/x64/Debug/HexViewer.tlog/rc.write.1.tlog
/HexViewer/x64/Debug/HexViewer.tlog/rc.read.1.tlog
/HexViewer/x64/Debug/HexViewer.tlog/rc.command.1.tlog
/HexViewer/x64/Debug/HexViewer.tlog/link.write.1.tlog
/HexViewer/x64/Debug/HexViewer.tlog/link.read.1.tlog
/HexViewer/x64/Debug/HexViewer.tlog/link.command.1.tlog
/HexViewer/x64/Debug/HexViewer.tlog/HexViewer.lastbuildstate
/HexViewer/x64/Debug/HexViewer.tlog/CL.write.1.tlog
/HexViewer/x64/Debug/HexViewer.tlog/CL.read.1.tlog
/HexViewer/x64/Debug/HexViewer.tlog/CL.command.1.tlog
/HexViewer/x64/Debug/HexViewer.res
/HexViewer/x64/Debug/HexViewer.pch
/HexViewer/x64/Debug/HexViewer.obj
